<div id="<%= dom_id artist %>">
  <p>
    <strong>Artist:</strong>
    <%= artist.artist %>
  </p>

  <p>
    <strong>Website:</strong>
    <%= artist.website %>
  </p>

  <p>
    <strong>Phone number:</strong>
    <%= artist.phone_number %>
  </p>

  <p>
    <strong>Email address:</strong>
    <%= artist.email_address %>
  </p>

  <p>
    <strong>City:</strong>
    <%= artist.city %>
  </p>

  <p>
    <strong>Zip code:</strong>
    <%= artist.zip_code %>
  </p>

</div>
