


<div class="row">
  <div class="col-sm-6">
    <h1>Artists</h1>
  </div>

  <div class="col-sm-6 text-end">
  <%= link_to new_artist_path, class: 'btn btn-primary' do %>
    Add New Artist
  <% end %>
  </div>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
    

            <th>Artist</th>
            <th>Website</th>
            <th>Phone number</th>
            <th>Email address</th>
            <th>City</th>
            <th>Zip code</th>
            
          <th></th>
        
      </tr>
    </thead>

    <tbody>
      <% @artists.each do |artist| %>
        <%= content_tag :tr, id: dom_id(artist), class: dom_class(artist) do %>
          

                      <td><%= artist.artist %></td>
                      <td><%= artist.website %></td>
                      <td><%= artist.phone_number %></td>
                      <td><%= artist.email_address %></td>
                      <td><%= artist.city %></td>
                      <td><%= artist.zip_code %></td>
          
          
            <td><%= link_to 'Show', artist %></td>
          
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>
